.gridBarraBusqueda {
    margin: 0px;
    padding: 0px;

    ion-row {
        margin: 0px;
        padding: 0px;

        ion-col {
            margin: 0px;
            padding: 0px;

            ion-searchbar {
                margin: 0px;
                padding: 0px;
            }

        }
    }

}

