.ion-card-login {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    width: 300px;
}

.ion-content-login {
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    vertical-align: middle;
}