<ng-template [ngIf]="!isLoading" [ngIfElse]="loadingOptions" style="background: blue; --background: blue;">

  <ion-header *ngIf="esAjustesChat" style="background: red; --background: red;">
    <ion-toolbar>
      <ion-title>Ajustes</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cancel()">
          <ion-icon name="close-circle-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content style="width: 100%; height: 100%;" class="sinBarraDeScroll">
    <ion-accordion-group [multiple]="true" [value]="etiquetasKeys" *ngIf="opcionesModal && opcionesModal.opciones">
      <ion-accordion [value]="grupoOpcion.etiqueta" *ngFor="let grupoOpcion of opcionesModal.opciones">
        <ion-item slot="header" color="light">
          <ion-label> {{ grupoOpcion.etiqueta }} </ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">
          <ion-grid>
            
            <ion-row *ngFor="let opcionBasica of grupoOpcion.opciones">
              <ion-col size="12" style="padding: 2px;">
                <ion-label style="font-size: 18px;" [ngStyle]="assinarEstilo(opcionBasica)"> {{ opcionBasica.etiqueta }} </ion-label>
              </ion-col>

              <ion-col size="12" style="padding: 2px;">
              
                <ng-template [ngIf]="opcionBasica.tipo == 'SELECT_IMG'">
                  <ion-item style="padding: 5px" lines="none">
                    <ion-avatar style="zoom: 1.45;" (click)="cambiarImagen()">
                      <!-- <img [src]="getImagenPath(opcionBasica)"/> --> 
                      <img id="twoTimesGif" [src]="getImagenPath(opcionBasica)"/>
                    </ion-avatar>
                    <ion-label style="font-size: 18px; margin-left: 20px;"> {{ getLabelImagen(opcionBasica) }} </ion-label>
                  </ion-item>

                  <!-- Modal De imagenes -->
                  <ion-modal class="modalImagenes" (ionChange)="guardarDatos(opcionBasica, $event)" [isOpen]="isModalImagenesOpen" (didDismiss)="isModalImagenesOpen = false" size="auto">
                    <ng-template>
                      <ion-content>
                          <ion-toolbar>
                            <ion-title class="titulo-modales">Añadir imagen</ion-title>
                            <ion-buttons slot="end">
                              <ion-button (click)="cancel()">
                                <ion-icon name="close-circle-outline"></ion-icon>
                              </ion-button>
                            </ion-buttons>
                          </ion-toolbar>

                          <ion-grid>
                            <ion-row>
                              <ion-col *ngFor="let img of appData.IMG_INFO">
                                <ion-avatar style="zoom: 1.3; margin: 7px;"  (click)="selectImagen(opcionBasica, img)">
                                  <img [src]="getPathImage(img.name)"/> 
                                </ion-avatar>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                      </ion-content>
                    </ng-template>
                  </ion-modal>

                </ng-template>

                <ng-template [ngIf]="opcionBasica.tipo == 'INPUT'">
                  <ion-item class="itemInputOpcion" counter="true" lines="none" fill="outline">
                    <ion-textarea class="opcionBasicaInput"
                      [value]="utils.getValueOpcion(opcionBasica)"
                      [placeholder]="utils.getEtiquetaOpcion(opcionBasica)"
                      [clearOnEdit]="true"
                      maxlength="500"
                      autoGrow="true"
                      (ionChange)="guardarDatos(opcionBasica, $event)">
                    </ion-textarea>
                  </ion-item>
                </ng-template>
      
                <ng-template [ngIf]="opcionBasica.tipo == 'NUMBER'">
                  <ion-input class="opcionBasicaInput" 
                    type="number" 
                    [value]="utils.getDatoOpcion(opcionBasica)"
                    [clearInput]="true"
                    placeholder="Introduzca numero" 
                    (ionChange)="guardarDatos(opcionBasica, $event)"></ion-input>
                </ng-template>

                <ng-template [ngIf]="opcionBasica.tipo == 'RANGE'">
                    <ion-range 
                    aria-label="Custom range" 
                    [ticks]="true" 
                    [snaps]="true" 
                    [min]="0" 
                    [pin]="true"
                    [max]="utils.getDatoOpcion(opcionBasica)"
                    [value]="utils.getValueOpcion(opcionBasica)"
                    (ionChange)="guardarDatos(opcionBasica, $event)"></ion-range>
                </ng-template>

                <ng-template [ngIf]="opcionBasica.tipo == 'BOTON'">
                    <ion-button expand="block" shape="round" label="texto" label-placement="floating" fill="outline" 
                    (ionChange)="guardarDatos(opcionBasica, $event)" 
                    (click)="accionDeBoton(opcionBasica)"> {{ utils.getEtiquetaOpcion(opcionBasica) }} </ion-button>
                </ng-template>
      
                <ng-template [ngIf]="opcionBasica.tipo == 'CHECKBOX'" >
                  <ion-item style="padding: 0; margin: 0;" lines="none">
                    <ion-checkbox labelPlacement="end" 
                    (ionChange)="guardarDatos(opcionBasica, $event)" 
                    [checked]="utils.getValueOpcion(opcionBasica)"></ion-checkbox>
                    <ion-label style="font-size: 18px; margin-left: 5px;"> {{ utils.getValueOpcion(opcionBasica) | formatSiNoDeBoolean }} </ion-label>
                  </ion-item>
                </ng-template>

                <ng-template [ngIf]="opcionBasica.tipo == 'SELECT_SINGLE'">
                    <ion-select [value]="utils.getValueOpcion(opcionBasica)" placeholder="Seleccione uno" 
                      interface="popover" [interfaceOptions]="{size: 'cover'}" 
                      (ionChange)="guardarDatos(opcionBasica, $event)">
                      <ion-select-option *ngFor="let o of utils.getDatosOpcion(opcionBasica)" [value]="o">
                        <span class="spanLabel"> {{ o }} </span>
                      </ion-select-option>
                    </ion-select>
                </ng-template>

                <ng-template [ngIf]="opcionBasica.tipo == 'SELECT_MULTIPLE'">
                  <ion-select id="SELECT_MULTIPLE"
                    [value]="getValuesOpcionIfNotSaved(opcionBasica)"
                    placeholder="Seleccione los elementos" 
                    interface="popover" 
                    [interfaceOptions]="{size: 'cover'}"
                    [multiple]="true"
                    (ionChange)="guardarDatos(opcionBasica, $event)">
                    <ion-select-option *ngFor="let o of utils.getDatosOpcion(opcionBasica)" [value]="o"> 
                      <ion-label class="spanLabel"> {{ o }} </ion-label> 
                    </ion-select-option>
                  </ion-select>
                </ng-template>

                <ng-template [ngIf]="opcionBasica.tipo == 'SELECT_MULTIPLE_AND_REORDER'">
                  <ion-select id="SELECT_MULTIPLE_AND_REORDER" 
                    [value]="utils.getValuesOpcion(opcionBasica)"
                    placeholder="Seleccione los elementos a ordenar" 
                    interface="popover" 
                    [interfaceOptions]="{size: 'cover'}"
                    [multiple]="true"
                    (ionChange)="guardarDatos(opcionBasica, $event)">
                    <ion-select-option *ngFor="let o of utils.getDatosOpcion(opcionBasica)" [value]="o"> 
                      <ion-label class="spanLabel"> {{ o }} </ion-label> 
                    </ion-select-option>
                  </ion-select>
                  <ion-label style="margin-left: 15px;">Ordene los elementos</ion-label>
                  <ion-list>
                    <ion-reorder-group *ngIf="opcionBasica && opcionBasica.valor && opcionBasica.valor.length > 0"
                      [disabled]="false" (ionItemReorder)="handleReorder($any($event), opcionBasica)">
                      <ion-item *ngFor="let o of utils.getValuesOpcion(opcionBasica)">
                        <ion-label class="spanLabel"> {{ o }} </ion-label> 
                        <ion-reorder slot="end"></ion-reorder>
                      </ion-item>
                    </ion-reorder-group>
                  </ion-list>
                </ng-template>

                <div class="separator"></div>
              </ion-col>
            </ion-row>
          </ion-grid>

        </div>
      </ion-accordion>
    </ion-accordion-group>

    <div style="background: none; height: 30px;"></div>

  </ion-content>

  <ion-footer *ngIf="mostrarMensajeDatosModificados" class="ion-no-border mensajeDatosModificados sinBarraDeScroll">
    <span style="color: var(--ion-color-danger)">* Algunos campos se han modificado, pulsa guardar para registrarlos</span>
  </ion-footer>

</ng-template>

<ng-template #loadingOptions>
  <ion-item lines="none" class="loading-item">
    <ion-spinner name="crescent" class="loading-chat"></ion-spinner>
  </ion-item>
</ng-template> 